//reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

//vars
$accentColor: #c29525;
$textShadow: 0 2px 4px rgba(0, 0, 0, .3);
$box-shadow: 0 3px 5px rgba(0, 0, 0, .4);

//global styles
body {
  font-family: "Baloo Da 2", serif;
  font-weight: 400;
}

.gl-button {
  width: 250px;
  padding: 20px;
  background-color: $accentColor;
  border: none;
  font-family: 'Mulish', serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-shadow: $textShadow;
  box-shadow: $box-shadow;
  cursor: pointer;
  opacity: 0;
  animation: moveContent 1s .9s forwards;

  @keyframes moveContent {
    0% {
      transform: translateY(400px) rotateY(-20deg);
    }
    100% {
      transform: translateY(0) rotateY(0);
      opacity: 1;
    }
  }
}

.gl-icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  background-color: #777;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s;

  &:hover {
    background-color: $accentColor;
  }
}

//loader
.loader {
  position: absolute;
  top: calc(50% - 57px);
  left: calc(50% - 56px);
  width: 113px;
  height: 115px;
  border-radius: 100%;
  opacity: 1;
  visibility: visible;
  animation: loader-spin 5.75s infinite linear;
  -o-animation: loader-spin 5.75s infinite linear;
  -webkit-animation: loader-spin 5.75s infinite linear;
  -moz-animation: loader-spin 5.75s infinite linear;

  &-circle {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &-circle .loader-inner {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 6px solid rgba(194, 149, 37, 0.61);
    border-right: none;
    border-top: none;
    box-shadow: inset 0 0 11px rgba(0, 0, 0, 0);
  }

  &-circle:nth-of-type(0) {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
  }

  &-circle:nth-of-type(0) .loader-inner {
    animation: cssload-spin 2.3s infinite linear;
    -o-animation: cssload-spin 2.3s infinite linear;
    -webkit-animation: cssload-spin 2.3s infinite linear;
    -moz-animation: cssload-spin 2.3s infinite linear;
  }

  &-circle:nth-of-type(1) {
    transform: rotate(70deg);
    -o-transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
  }

  &-circle:nth-of-type(1) .loader-inner {
    animation: cssload-spin 2.3s infinite linear;
    -o-animation: cssload-spin 2.3s infinite linear;
    -webkit-animation: cssload-spin 2.3s infinite linear;
    -moz-animation: cssload-spin 2.3s infinite linear;
  }

  &-circle:nth-of-type(2) {
    transform: rotate(140deg);
    -o-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
  }

  &-circle:nth-of-type(2) .loader-inner {
    animation: loader-spin 2.3s infinite linear;
    -o-animation: loader-spin 2.3s infinite linear;
    -webkit-animation: loader-spin 2.3s infinite linear;
    -moz-animation: loader-spin 2.3s infinite linear;
  }

  @keyframes loader-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @-o-keyframes loader-spin {
    from {
      -o-transform: rotate(0deg);
    }
    to {
      -o-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes loader-spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @-moz-keyframes loader-spin {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
}

.container {
  display: none;
}

.display {
  .loader {
    opacity: 0;
    visibility: hidden;
  }

  .container {
    display: block;
  }
}

//navigation
.hamburger-menu {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: all 1s;

  .line {
    width: 100%;
    height: 2px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: $box-shadow;
  }
}

.change {
  .hamburger-menu {
    right: 330px;
  }

  .line {
    background-color: rgba(0, 0, 0, .8);
  }

  .line-1 {
    transform: rotate(45deg) translate(3px, 8px);
  }

  .line-2 {
    opacity: 0;
    visibility: hidden;
  }

  .line-3 {
    transform: rotate(-45deg) translate(3px, -8px);
  }
}

.scroll-top-btn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 30px;
  height: 30px;
  background-color: $accentColor;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  border-radius: 3px;
  transition: 1s;
}

.animation-hide {
  opacity: 0;
}

.sidenav {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background-color: #fff;
  transition: right .5s;
  z-index: 100;

  &-menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-item {
      text-align: center;

      a {
        font-family: "Josefin Slab", serif;
        font-size: 40px;
        line-height: 60px;
        color: #555;
        position: relative;

        &::after {
          content: attr(data-content);
          position: absolute;
          top: -10px;
          left: 0;
          color: $accentColor;
          overflow: hidden;
          white-space: nowrap;
          width: 0;
          transition: width .5s ease-in-out;
        }
      }

      a:hover::after {
        width: 100%;
      }
    }
  }

  &-media {
    position: absolute;
    bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;

    i {
      margin: 30px;
    }
  }
}

.change .sidenav {
  right: 0;
}

//header
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  perspective: 1000px;
  overflow: hidden;

  &-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: .5;
      animation: scale-bg 25s;

      @keyframes scale-bg {
        0% {
          transform: scale(1.3);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }

  &-content {
    position: absolute;
    top: 25%;
    left: 15%;
    color: #fff;

    h1 {
      width: 50%;
      margin-bottom: 30px;
      font-size: 80px;
      letter-spacing: 2px;
      text-shadow: $textShadow;
      opacity: 0;
      animation: moveContent 1s .5s forwards;
    }

    p {
      width: 70%;
      margin-bottom: 30px;
      font-family: 'Josefin Slab', serif;
      font-size: 40px;
      font-weight: 400;
      letter-spacing: 1px;
      text-shadow: $textShadow;
      opacity: 0;
      animation: moveContent 1s .7s forwards;
    }

    @keyframes moveContent {
      0% {
        transform: translateY(400px) rotateY(-20deg);
      }
      100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
      }
    }
  }
}

//section 'team'
.team {
  padding: 100px 0;
  background-color: #eee;

  &-title {
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 10px;
    font-size: 70px;
    font-weight: 600;
    text-shadow: $textShadow;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      height: 5px;
      border-radius: 3px;
      background-color: $accentColor;
    }
  }

  .team-cards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .card {
      position: relative;
      width: 340px;
      height: 400px;
      box-shadow: $box-shadow;
      border-radius: 5px;

      &-img {
        width: 100%;
        height: 100%;
        background-color: #262626;
        border-radius: 5px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: .6;
          border-radius: 5px;
          transition: opacity .3s;
        }
      }

      &-info {
        position: absolute;
        bottom: 0;
        padding: 20px;
        text-shadow: $textShadow;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;

        h4 {
          font-size: 25px;
          color: #eee;
        }

        h5 {
          font-family: 'Mulish', serif;
          font-size: 20px;
          font-weight: 600;
          color: #a52a2a;
          margin-bottom: 20px;
        }

        p {
          font-size: 14px;
          color: #eee;
          width: 80%;
          margin-bottom: 20px;
        }

        button {
          width: 100px;
          padding: 10px;
          font-size: 14px;
          text-transform: capitalize;
          border-radius: 3px;
        }
      }

      &:hover .card-img img {
        opacity: .5;
      }

      &:hover .card-info {
        bottom: 20px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

//section 'contact'
.contact {
  width: 100%;
  padding: 100px 0;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;

  &-wrapper {
    width: 60%;
    display: flex;
    box-shadow: 0 30px 70px rgba(0, 0, 0, .5);
  }

  &-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, .6), rgba(22, 22, 22, .9)),
    url("../images/form-bg.jpg") center no-repeat;
    background-size: cover;
  }

  &-right {
    width: 65%;
    background-color: #eee;
    padding: 60px 15px;

    h3 {
      font-size: 50px;
      color: #272727;
      margin-bottom: 15px;
      text-align: center;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-group {
        position: relative;
        width: 80%;

        label {
          bottom: 30px;
          transition: all .3s;
        }
      }

      .textarea-group {
        position: relative;
        width: 80%;

        label {
          bottom: 6px;
          transition: all .3s;
        }
      }

      input,
      textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 2px dashed #636363;
        margin: 30px 0;
        padding: 10px 10px 10px 0;
        font-family: 'Mulish', serif;
        font-size: 16px;
        font-weight: 600;
        color: #4b4b4b;

        &:focus {
          border-bottom-style: solid;
        }

        &:focus ~ label {
          transform: translateY(-30px);
          font-size: 12px;
        }
      }

      input {
        height: 40px;
      }

      textarea {
        resize: none;
      }

      label {
        position: absolute;
        left: 0;
        font-size: 18px;
        color: #4b4b4b;
        text-transform: uppercase;
        pointer-events: none;
      }

      button {
        max-width: 80%;
        width: 100%;
        margin-top: 30px;
      }
    }
  }
}

//footer
.footer {
  width: 100%;
  padding: 50px 0;
  background-color: #17181b;
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-copyright {
    font-size: 16px;
    color: #a7a7a7;
  }

  &-socials {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin: 0 20px;
    }
  }
}

@import "media";


